<% content_for :title, t(".title") %>

<%= render UI::Public::HeroComponent.new(
  title: t(".heading"),
  subtitle: t(".subtitle"),
  size: :large,
  cta_label: t(".cta"),
  cta_href: portfolio_path
) %>

<%= render UI::SectionComponent.new do %>
  <div class="max-w-2xl mx-auto text-center">
    <p class="text-lg leading-relaxed"><%= t(".intro") %></p>
  </div>
<% end %>
