<h1>Reset your password</h1>

<p>Hi <%= @user.full_name.presence || @user.email %>,</p>

<p>You requested a password reset. Click the link below to set a new password.</p>

<p><a href="<%= @reset_url %>">Reset password</a></p>

<p>This link expires in 2 hours. If you didn't request a reset, you can ignore this email.</p>
